body {
    overflow: auto;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 50px;
    background: url('images/backgroundpicture.jpeg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.page-header {
    padding-top: 20px;
}

h1 {
    color: #1b1818;
    font-family: 'Josefin Sans', Arial, sans-serif;
}

h3 {
    color: #1b1818;
    font-family: Oswald, Arial, serif
}

.mytrip-logo {
     height: 100%;  
    }

.flag {
    margin-top: 10px;
    height: 60px;
    float: right;
}
 
/* .bookflight {
    display: none;
} */


.btn-login {
    color: #fff;
    background-color: #1b1818;
    border-color: #f2f6f7;
    box-shadow: 0 0 30px black;
}
.btn-login:hover {
    color: rgb(115, 150, 75);
}


.btn-info {
    color: #fff;
    background-color: #1b1818;
    border-color: #f2f6f7;
    box-shadow: 0 0 30px black;
}


.signingin {
    display:none;
}

.searchingcountry{
    display: none;
}

.btn-search {
    color: #fff;
    background-color: #1b1818;
    border-color: #f2f6f7;
    width: 50%;
    box-shadow: 0 0 30px black;
    margin-bottom: 30px;
}

.btn-search:hover {
    color: rgb(115, 150, 75);
}

.choosecountry {
    display: none;
    box-shadow: 0 0 30px black;
}

.datacard {
    background-color: #f2f6f7;
    opacity: 0.75;
    box-shadow: 0 0 30px black;
    /* box-shadow: 0px 1px 10px 0px rgba(207,207,207,1); */
}

.search-result {
    display: none
}

.countrynotfound {
    display: none;
    margin-top: 5%;
    padding: 3px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.loginreq{
    display: none;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.countryreq{
    display: none;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.featuresBar {
    display: none;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 30px black;
}


.navbar {
    opacity: 1;
    background-color: #f2f6f7;
    font-family: 'Josefin Sans', Arial, sans-serif;

}

.footer {
    margin-top: 30px;
    font-size: 15px;
    opacity: 1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;

}

.navbar-default .navbar-nav>li>a {
    color: #1b1818;
    font-size: 20px;
}

/* .nav>li>a {
    padding: 20px 159px;
} */



#submitcountry {
    margin-top: 5%;
}


#loginbox {
    margin-top: 30px;
    background-color: transparent;
    box-shadow: 0 0 30px black;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: transparent;

}

.panel-title {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #1b1818;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.toDo {
    display: none;
}

.todoInput {

}



/* Hello */
.hello {
    border: 0;
    display: none;
    box-shadow: 0 0 30px black;

}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}