body {
    overflow: hidden;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 50px;
    background: url('images/backgroundpicture.jpeg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.page-header {
    padding-top: 20px;
}

h1 {
    color: #1b1818;
    font-family: 'Josefin Sans', Arial, sans-serif;
}

h3 {
    color: #1b1818;
    font-family: Oswald, Arial, serif
}

.mytrip-logo {
     height: 60px;  
    }

.flag {
    height: 60px;
}
 
.btn-login {
    color: #fff;
    background-color: #1b1818;
    border-color: #f2f6f7;
    box-shadow: 0 0 30px black;
}
.btn-login:hover {
    color: rgb(115, 150, 75);
}

.btn-search {
    color: #fff;
    background-color: #1b1818;
    border-color: #f2f6f7;
    width: 50%;
    box-shadow: 0 0 30px black;
    margin-bottom: 30px;
}

.btn-search:hover {
    color: rgb(115, 150, 75);
}




.choosecountry {
    display: none;
    box-shadow: 0 0 30px black;
}

.weather {
    box-shadow: 0 0 30px black;
}
.search-result {
    display: none
}

.countrynotfound {
    display: none;
    margin-top: 5%;
    padding: 3px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.countryinfo {
    box-shadow: 0 0 30px black;
}



.features {
    display: none
}


.navbar {
    opacity: 1;
    background-color: #f2f6f7;
}

.footer {
    margin-top: 30px;
    font-size: 15px;
    opacity: 1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;

}

.navbar-default .navbar-nav>li>a {
    color: #1b1818;
    font-size: 20px;
}

.nav>li>a {
    padding: 20px 160px;
}

#submitcountry {
    margin-top: 5%;
}


#loginbox {
    margin-top: 30px;
    background-color: transparent;
    box-shadow: 0 0 30px black;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: transparent;

}

.panel-title {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #1b1818;
    text-transform: uppercase;
    letter-spacing: 4px;
}

